@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,700;1,500&display=swap');

*{
	font-family: 'Poppins', sans-serif;
	font-weight: 400;
}

.navbar-todo{
	background-color: #FDAFAB;
	color: white;
}

.clr-w{
	color: white;
}

.judul{
	color: #FDAFAB;
}

.card{
	background-color: #FAF1D6;
}

button.btn-hapus{
	border: 1px solid #FAF1D6;
}

footer{
	background-color: #FDAFAB;
	text-align: center; 
}